@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply  rounded-md px-2 py-1  transition disabled:opacity-30 disabled:pointer-events-none
}

.btn.danger {
  @apply bg-red-500 text-white hover:bg-red-700
}

.btn.accent {
  @apply bg-sky-500  text-white hover:bg-sky-700
}
